<div id="page" class="vh-100 vw-100">
    <div class="mb-3">{{demo}}</div>
    <button type="button" id="theButton" class="btn btn-primary">Feedback</button>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>