<style>


</style>

{{!-- <div id="page-container" class="d-flex justify-content-center align-items-center vw-100 player" style="height: 100svh;">
    <div id="page" class="text-center vw-100 p-3">
        <div id="countdownContainer" class="mb-5"></div>
    </div>
</div> --}}

<div id="player" class="mainContainer"></div>

<script src="/socket.io/socket.io.js"></script>
<script type="module" src="/js/player.js"></script>