<div id="page-container" class="d-flex justify-content-center align-items-center p-5 vh-100 vw-100 player">
    <div id="page" class="text-center vw-100"></div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script type="module" src="/js/player.js"></script>